include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include requirements/*.txt
include config/*.py
recursive-include src/psx_predictor/web/templates *
recursive-include src/psx_predictor/web/static *
recursive-include docs *
recursive-include tests * 